<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/starter/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/starter/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/starter/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">
	<h1>Welive Starter Template</h1>
	<div class="container" ng-show="!home.authenticated">
		<div>
			Login With AAC: <a href="/starter/login/aac">click here</a>
		</div>
	</div>
	<div class="container" ng-show="home.authenticated">
		Logged in as: <span ng-bind="home.user"></span>
		<div>
			<div>
				Logout: <a href="/starter/logout">click here</a>
			</div>
		</div>
	</div>
	<div class="top-corner" ng-show="home.authenticated"
		style = "right: 0;position: absolute;top: 1px;padding: 5px;">
		<a class="button" href=/starter/service/spec/swagger target="_blank">Swagger
			API</a>
	</div>
	<div class="top-corner" 
		style="right: 0;position: absolute;top: 20px;padding: 5px;">
		<a class="button" href=/starter/service/spec/xwadl target="_blank">WADL</a>
	</div>
	<div class="top-corner" 
		style="right: 0;position: absolute;top: 40px;padding: 5px;">
		<a class="button" href=/starter/service/spec/usdl target="_blank">USDL</a>
	</div>
	<div ng-show="home.authenticated">
		<h2>Client Information</h2>
		<table border="1">
			<tr>
				<td>Application Name</td>
				<td>{{home.appName}}</td>
			</tr>
			<tr>
				<td>Client ID</td>
				<td>{{home.clientId}}</td>
			</tr>
			<tr>
				<td>Identity Providers</td>
				<td>{{home.Idps}}</td>
			</tr>
		</table>
	</div>

	<div ng-show="home.authenticated">
		<h2>Operation Test</h2>
		<button type="button" ng-click="home.echo()">Echo</button>
		<h4>{{home.echoResult}}</h4>
	</div>

	<div ng-show="home.authenticated"
		style="position: fixed; bottom: 0; width: 100%;">
		<h2>Log Console</h2>
		<a type="button"
			style="color: white; bottom: 0; right: 0; position: absolute"
			ng-click="home.updateLogWindow()">Refresh Log Window</a>
		<div id="dialog-window"
			style="height: 200px; border: 1px black solid;">
			<div id="scrollable-content"
				style="height: 180px; overflow: auto; background-color: white;">
				{{home.logs}}</div>
			<div id="footer" style="height: 20px; background-color: green;"></div>
		</div>
	</div>

	<script type="text/javascript" src="/starter/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript">
		angular
				.module("app", [])
				.config(
						function($httpProvider) {
							$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
						}).controller("home", function($http, $location) {
					var self = this;
					$http.get("/starter/user").success(function(data) {
						if (data.name) {
							self.user = data.name;
							self.appName = data.appName;
							self.clientId = data.clientId;
							self.Idps = data.Idps;
							self.logs = data.logs;
							self.authenticated = true;
						} else {
							self.user = "N/A";
							self.authenticated = false;
						}
					}).error(function() {
						self.user = "N/A";
						self.authenticated = false;
					});
					self.logout = function() {
						$http.post('/starter/logout', {}).success(function() {
							self.authenticated = false;
							$location.path("/starter");
						}).error(function(data) {
							console.log("Logout failed")
							self.authenticated = false;
						});
					};
					self.echo = function() {
						$http.get('/starter/readAccessToken').then(function(token) {
							console.log("access token: " + token.data.auth);
							$http.get('/starter/api/echo', {
								headers : {
									'Authorization' : token.data.auth
								}
							}).success(function(data) {
								self.echoResult = data.data;
								setTimeout(function() {
									self.updateLogWindow();
								}, 2000);
							}).error(function(error) {
								console.log("Echo failed.")
							})
						}, function(error) {
							console.log("access token can not be retrieved.");
						});
		
					};
					self.updateLogWindow = function() {
						$http.get('/starter/updateLog').success(function(data) {
							self.logs = data;
						}).error(function(error) {
							console.log("Log update failed.")
						});
					}
				});
	</script>
</body>
</html>